.footer {
	width: 100%;
	min-height: $footer;
	flex: 0 0 auto;
	will-change: transform;
	position: relative;
	background-color: $dark;
	color: $white;
	font-size: 1.6rem;
	@include flex-center;
	margin-top: $small-mb;
	@include bp($point_2) {
		margin-top: $mobile_mb;
		z-index: 102;
	}
	.header_info_list li a, a, svg {
		color: $white;
		font-size: 1.6rem;
	}
	.trigger_callback  {
		button {
			color: $white;
			border-color: $white;
		}
	}

	.phone_icon {
		color: $white;
		fill: $white;
	}
	.header_top {
		margin-bottom: 7rem;
		@include bp($point_2) {
			margin-bottom: 4rem;
			flex-direction: column
		}
	}
}

.footer_col_right {
	@include flex-end;
	@include bp($point_2) {
		flex-direction: column;
		width: 100%;
	}
}

.footer {
	
}
.section_in {
}
.footer_main_w {
	padding: 3.3rem 0 3rem 0;
	@include bp($point_2) {
		padding: 5rem 0;
	}
		
	.header_logo {
		@include bp($point_2) {
			margin: 0 0 3rem 0;
		}
	}
	.trigger_callback  {
		@include bp($point_2) {
			display: none;
		}
	}
	.header_top_info, .header_info_list  {
		@include bp($point_2) {
			display: flex;
		}
	}
	.header_info_list {
		@include bp($point_2) {
			flex-direction: column;
			margin-right: 0;
		}
		li {
			@include bp($point_2) {
				margin: 0 0 2rem 0;
			}
		}
	}
}

.header_logo {
}
.header_top_info {
}
.header_info_list {
}
.phone_icon {
}
.icon {
}
.icon-phone {
}
.btn_w {
}
.trigger_callback {
}
.btn-border_w {
}
.btn {
}
.btn-border {
}
.footer_bottom {
	@include flex-space;
	@include bp($point_2) {
		flex-direction: column;
		font-size: 1.4rem;
	}
	.header_top {
		@include bp($point_2) {
			@include flex-start;
			flex-direction: column;
		}
	}
}
.footer_copyright {
}
.footer_policy {
	margin-right: 21.6rem;
	@include bp($point_2) {
		margin: 1rem 0 1rem 0;
		padding: 1rem 0;
		border-top: .1rem solid rgba(255, 255, 255, 0.212);
		border-bottom: .1rem solid rgba(255, 255, 255, 0.212);
		width: 100%;
		text-align: center;
	}
	a {
		color: $white;
		font-size: 1.6rem;
		@include bp($point_2) {
			font-size: 1.4rem;
		}
	}
}
.footer_arkada {
	a {
		@include flex-start;
		p {
			color: $white;
			font-size: 1.6rem;
			margin-right: 1.5rem;
			@include bp($point_2) {
				font-size: 1.4rem;
				margin-right: 1rem;
			}
		}
	}
}
.footer_arkada_logo {
	width: 3.3rem;
	@include bp($point_2) {
		width: 2rem;
	}
	a {
		@include flex-center;
		width: 100%;
		height: 100%;
	}
}