.popupForm {
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include z-index(popup);
	@include flex-center;
	display: none;
	@include bp($point_2) {
		padding: 2rem;
	}
	&.active {
		display: flex;
	}
}
.popupForm_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.699);
	@include bp($point_2) {
		background-color: $dark;
		opacity: .7;
	}
}
.popup_bg {
}
.popupForm_main {
	position: relative;
	background-color: $dark;
	color: $white;
	padding: 6.5rem 10.3rem 7rem 10.3rem;
	max-height: 100%;
	overflow-y: auto;
	@include bp($point_2) {
		padding: 4rem 2rem;
	}

	h3 {
		color: $white;
		font-size: 3.5rem;
		margin-bottom: 1.5rem;
		@include bp($point_2) {
			font-size: 2.8rem;
			margin-bottom: 0.5rem;
		}
	}

	p {
		@include bp($point_2) {
			font-size: 1.6rem;
		}
	}
}
.popup_main {
}
.popupForm_close {
	position: absolute;
	top: 2.1rem;
	right: 2rem;
	width: 2.8rem;
	height: 2.8rem;
	@include bp($point_2) {
		width: 2.2rem;
		height: 2.2rem;
	}
	button {
		@include flex-center;
		color: $white;
		width: 100%;
		height: 100%;
	}
}
.icon {
}
.icon-close {
}
.popupForm_head {
	margin-bottom: 5.6rem;
	text-align: center;
	@include bp($point_2) {
		margin-bottom: 3rem;
		}
}
.popupForm_action {

	.action_notice  {
		margin-bottom: 5rem;
		font-size: 1.6rem;
		@include bp($point_2) {
			font-size: 1.4rem;
			margin-bottom: 3rem;
		}
		a {
			color: $white;
			border-bottom: .1rem solid $white;
			font-size: inherit;
		}
	}
	form {
		flex-direction: column;
		margin-bottom: 0;
		.global_input  {
			margin: 0 0 2rem 0;
		}
	}

	.action_btn {
		margin-bottom: 0;
	}
}



.burger {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include z-index(popup);
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
	&.active {
		opacity: 1;
		visibility: visible;
		.burger_main {
			transform: translateX(0);
		}
	}
}

.burger_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $dark;
	opacity: .7;
}

.burger_main {
	position: relative;
	background-color: $white;
	max-width: 33rem;
	width: 100%;
	height: 100%;
	color: $dark;
	padding: 3rem 2rem;
	overflow-y: auto;
	max-height: 100%;
	transform: translateX(-10rem);
	transition: all .3s ease;
	@include bp($point_8) {
		max-width: 29rem;
	}
	a {
		color: inherit;
	}

	.burger_logo {
		margin-bottom: 3rem;
		max-width: 20rem;
		height: 5rem;
		a {
			@include flex-center;
			width: 100%;
			height: 100%;
		}
	}





	.header_nav {
		display: block;
		.header_nav_list {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 5rem;
			li {
				width: 100%;
				&:not(:last-child) {
					margin: 0;
					border-bottom: .1rem solid rgba(0, 0, 0, 0.082);
				}
			}
			a {
				padding: 1.5rem 2rem;
				// margin: .7rem 0rem;
				position: relative;
				font-size: 1.6rem;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: .5rem;
					background-color: $yellow;
					content: '';
					height: 100%;
					display: none;
				}
				&.active, &:hover {
					background-color: $dark;
					color: $white;
					&:before {
						display: block;
					}
				}
				width: 100%;
				@include flex-start;
			}
		}
	}
	.header_info_list {
		display: block;
	}

	.header_info_list {
		li {
			width: 100%;
			a {
				font-size: 2rem;
				font-family: $font_3;
			}
			&:not(:last-child) {
				margin-bottom: 1.5rem;
				border-bottom: .1rem solid rgba(0, 0, 0, 0.082);
				padding-bottom: 1.5rem;
			}
		}
	}
}