extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Статьи'}
block content_block
	+breadcrumb(['Главная'], 'Статьи')
	section.article 
		.section_in 
			.article_main
				.page_title 
					h1!=array.title_inner 
				ul.article_grid.services_grid
					-for(i = 0; i < 8; i++)
						+article
				+pagination({
						pages: 5,
						arrows:true
					})